<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/defaults.xml" />

	<springProfile name="default">
		<appender name="Console"
			class="ch.qos.logback.core.ConsoleAppender">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<Pattern>
					%black(%d{ISO8601})
					%highlight(%-5level)[%yellow(%C{1.}),%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}][%blue(%t)]
					: %msg%n%throwable
				</Pattern>
			</layout>
		</appender>
		<logger name="org.springframework" level="INFO" />
		<logger name="com.tcp" level="DEBUG" />
		<root level="INFO">
			<appender-ref ref="Console" />
		</root>
	</springProfile>

	<springProfile name="prod">
		<appender name="Console"
			class="ch.qos.logback.core.ConsoleAppender">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<Pattern>
					%black(%d{ISO8601})
					%highlight(%-5level)[%yellow(%C{1.}),%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}][%blue(%t)]
					: %msg%n%throwable
				</Pattern>
			</layout>
		</appender>
		<logger name="org.springframework" level="INFO" />
		<logger name="com.tcp" level="ERROR" />
		<root level="INFO">
			<appender-ref ref="Console" />
		</root>
	</springProfile>

</configuration>